<section class="page-header background-pink tac">
	<%= image_tag("logo.png", class: "logo") %>
	<h1 class="nm accent">Oliver Thomas Wholesale Application</h1>
</section>
<section>
	<h2>Pending Applications</h2>
	<ul>
	<% @pending_customers.each do |application| %>
	     <li> <%= link_to application.company, application %> </li>
	<% end %>
	</ul>
</section>