	<section class="small-accent">
		<div class="fw">
			<p class="subscript nm tac">Not sure if you have an account?</p>
			<h3 class="tac nmt">Check Your Account Status</h3>
		<%= form_for @employee do |f| %>
			<%= f.text_field :email, placeholder: "Email", class: 'fw'%>
			<div class="button background-pink"><%= f.submit "Search" %></div>
		<% end %>
		</div>
	</section>
</section>
<style>
	.small-accent { 
		min-height: fit-content; 
		display: flex;
		align-items: center;
		justify-content: center;
		width: 400px;
		margin: 0 auto;
		padding: 25px;
		max-width: 100%;
		border-radius: 10px;
		background-color: white;
	}
	.background-lightgray { background-color: whitesmoke; }
	a { 
		text-decoration: none; 
		color: black;
	}
	.button { 
		padding: 12px; 
		text-align: center;
		width: 100%;
		color: white;
		font-weight: bold;
		box-sizing: border-box;
		border-radius: 10px;
		border: 2px solid gray;
	}
	.underline { text-decoration: underline; }
	input[type="submit"] {
    	border: none;
    	background: transparent;
    	color: white;
    	font-size: 12pt;
    	font-weight: bolder;
	}
	input[type="text"] {
		margin-bottom: 10px;
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		border: 2px solid whitesmoke;
		border-radius: 10px;
	}
</style>