<section class="page-header background-pink tac">
	<%= image_tag("logo.png", class: "logo") %>
	<h1 class="nm accent">Oliver Thomas Wholesale Application</h1>
</section>
<section class="tac">
   <h1 class="tac accent xl nmb">Thank You</h1>
	<div class="form-faq">
	<p class="tac">A team member will be in touch. </p>
		<%= image_tag("paw-heart-print.png", class: "heart-print") %>

  </div>
</section>