// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@font-face {
  font-family: 'the_wild_things_script';
  src: font-url('the-wild-things-script.otf'); 
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'neutra';
  src: font-url('Neutra2Display-Medium.otf'); 
  font-weight: 400; 
  font-style: normal;
}
.xl { font-size: 50pt; }
 .form-faq {
    font-family: 'neutra';  
  }
.form-faq p, .form-faq ol li { font-size: 16pt;}
.form-faq p.subscript { font-size: 12pt;}
 .accent {
    font-family: 'the_wild_things_script';  
  }
body, input { font-family: 'Open Sans', sans-serif;}
section {box-sizing: border-box;}
h1 { font-size: 36pt;}
.logo { 
	max-width: 200px;
}
a { text-decoration: none; }
.navbar-text a { 
  font-weight: bolder; 
  margin: auto 10px;
  color: black;
}
.navbar-text {
  position: fixed;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  height: 80px;
  background-color: white;
  box-shadow: 1px 1px 1px darkgray;
}
main { padding-top: 80px; }
.nav-logo { 
  max-width: 100px;
  margin-right: 20px;
}
.jcsb { justify-content: space-between; }
.flex-container {
  display: flex; 
  align-items: center;
}
body { margin: 0;}
  .page-header { padding: 50px; }
  .tac { text-align: center; }
  .form-header { 
    font-weight: bold;
    padding: 15px;
    margin: 0;
  }
  .logo { margin-bottom: 10px; }
  .nm { margin: 0; }
  .nmb { margin-bottom: 0 !important; }
  .nmt { margin-top: 0; }
  .ttu { text-transform: uppercase; }
  .background-pink { background-color: #f6e1d9 !important; }
  .subscript { font-size: 10pt; }
  input { 
    border: none;
    border-bottom: 1px solid black;
  }
  .heart-print { max-width: 100px;}
  div.border-bottom-pink { background-color: #f6e1d9; height: 2px;}
  .fw { width: 100%;}
  .tar { text-align: right;}
  .accent-padding-so { padding: 0 20px;}

.border-bottom-pink { border-bottom: #f6e1d9;}


.ot-employee form input[type="email"], .ot-employee form input[type="password"] {
    width: 90%;
    font-size: 10pt;
    line-height: 2;
    padding: 10px;
    border: 1px solid #d1cdcd;
    box-sizing: border-box;
    background: white;
    border-radius: 5px;
    margin: 6px;
    display: block;
    margin: 10px auto;
}
.background-paca { display: block; margin: 0 auto; max-width: 100%; }
.ot-employee form {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 275px;
    max-width: 500px;
}

.ot-employee input[type=submit], .new-submit {
    font-size: 12pt;
    line-height: 2;
    width: 90%;
    padding: 10px;
    display: block;
    margin: 20px auto;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    -webkit-appearance: none;
    background: #f6e1d9;
        box-shadow: 1px 2px 3px lightgrey;
        font-weight: bold;
}
.ot-employee .field .subscript {
    display: inline-block;
    margin-left: 5%;
}

.clickable { cursor: pointer; }


.form-section input[type="text"] {
    font-size: 10pt;
    line-height: 2;
    padding: 10px;
    border: 1px solid #d1cdcd;
    box-sizing: border-box;
    background: white;
    border-radius: 5px;
    margin: 6px;
    display: block;
    margin: 0 auto 10px auto;
}

.application-preview {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
.background-lightgray { background-color: whitesmoke; }


.flex-container-no { display: flex; align-items: center;}
.two-thirds { width: 66%;}
.one-third { width: 33%;}
.fmr { margin-right: 10px !important; }
.half { width: 50%; box-sizing: border-box; }

@media only screen and (max-width: 588px) {
  h1 { font-size: 32pt; }
  .logo { width: 100px; }
  h2 { font-size: 16pt; }
  .do.to { display: none; }
  section { padding: 10px; }
.accent-padding { padding: 10px; }
h3 { font-size: 12pt; }
input[type="submit"], select { font-size: 10pt !important; }
}
@media only screen and (min-width: 589px){
  .mo { display: none; }
  section { padding: 20px; }
.accent-padding { padding: 20px; }

}
.hamburger-wrapper { width: 30px; }
.hamburger-line { 
  height: 5px;
  background-color: black;
  width: 100%;
  border-radius: 10px;
    transition-duration: .25s;

}
.mobile-nav ul { 
  list-style: none; 
  padding-left: 0;
  margin: 0;
}
.mobile-nav ul li { 
  padding: 10px; 
  text-align: center;
  border-bottom: 2px solid whitesmoke;
  font-weight: bolder;
  a {color: black;}
}
.hamburger-line.second { margin: 3px 0; }
.hamburger-wrapper.active .hamburger-line.second{ display: none; }
.hamburger-wrapper.active .hamburger-line:first-of-type { transform: rotate(45deg); }
.hamburger-wrapper.active .hamburger-line:last-of-type { transform: rotate(-45deg); margin-top: -5px; }

.filter-button {
    display: inline-block;
    width: 150px;
    background: white;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid gray;
    cursor: pointer;
    font-size: 10pt;
    font-weight: bolder;
}
.filter-button.active { 
  background: gray; 
  color: white;
}
.filter-button-wrapper { margin: 20px auto 10px auto; }
