// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@font-face {
  font-family: 'the_wild_things_script';
  src: font-url('the-wild-things-script.otf'); 
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'neutra';
  src: font-url('Neutra2Display-Medium.otf'); 
  font-weight: 400; 
  font-style: normal;
}
.xl { font-size: 50pt; }
 .form-faq {
    font-family: 'neutra';  
  }
.form-faq p, .form-faq ol li { font-size: 16pt;}
.form-faq p.subscript { font-size: 12pt;}
 .accent {
    font-family: 'the_wild_things_script';  
  }
body, input { font-family: 'Open Sans', sans-serif;}
section { padding: 20px;}
h1 { font-size: 36pt;}
.logo { 
	max-width: 200px;
}
body { margin: 0;}
  .page-header { padding: 50px; }
  .tac { text-align: center; }
  .form-header { 
    font-weight: bold;
    padding: 15px;
  }
  .logo { margin-bottom: 10px; }
  .nm { margin: 0; }
  .nmb { margin-bottom: 0; }
  .nmt { margin-top: 0; }
  .ttu { text-transform: uppercase; }
  .background-pink { background-color: #f6e1d9; }
  .subscript { font-size: 10pt; }
  input { 
    border: none;
    border-bottom: 1px solid black;
  }
  .heart-print { max-width: 100px;}
  div.border-bottom-pink { background-color: #f6e1d9; height: 2px;}
  .fw { width: 100%;}
  .tar { text-align: right;}
  .accent-padding-so { padding: 0 20px;}

.border-bottom-pink { border-bottom: #f6e1d9;}


.ot-employee form input[type="email"], .ot-employee form input[type="password"] {
    width: 90%;
    font-size: 10pt;
    line-height: 2;
    padding: 10px;
    border: 1px solid #d1cdcd;
    box-sizing: border-box;
    background: white;
    border-radius: 5px;
    margin: 6px;
    display: block;
    margin: 10px auto;
}
.background-paca { display: block; margin: 0 auto; max-width: 100%; }
.ot-employee form {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 275px;
    max-width: 500px;
}

.ot-employee input[type=submit] {
    font-size: 12pt;
    line-height: 2;
    width: 90%;
    padding: 10px;
    color: white;
    display: block;
    margin: 20px auto;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    -webkit-appearance: none;
    background: #f6e1d9;
}
.ot-employee .field .subscript {
    display: inline-block;
    margin-left: 5%;
}
.clickable { cursor: pointer; }